body {
    font-family: "Edu TAS Beginner", cursive;
    /* background-color: #645f5e; */
}

h1,
h2,
h3 {
    font-family: "Edu TAS Beginner", cursive;
}

h2 {
    color: #000003;
}

/* header {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
} */

header h2 {
    color: #010009;
}

footer {
    background-image: linear-gradient( rgb(251, 248, 248), #53514c);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding-top: none;
    padding: 10px;
}

section .nav-link:hover {
    background-color: rgb(71, 71, 238);
    color: white;
}

.accordion-button {
    background-color: #d3d3d3;

}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #786a11;
}

.custom-list{
    list-style: none;
    display: flex;
}


.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.overview{
    height: 180px;
    background-color: #d3dae1;
}

.card-img-top{
    width: 100%;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #000;
    background-color: #090909;
    color: #faf8f8;
  }
  
.accordion-button:not(.collapsed) {
    background-color: #060606;
    color: #fff; 
  }


.bi-twitter{
    color: black;
}

.bi-facebook{
    color: blue;
}

.bi-instagram{
    color: purple;
}

.bi-youtube{
    color: red;
}


